.inview-left {
    animation: inLeft 1s ease-in-out;
}

@keyframes inLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}